{% extends 'base.html' %}
{% load static %}

{% block title %}
    Alat Medis
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Alat Medis</h1>
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        {% if roleAdmin or roleCS %}
        <a href="/form_create_alat_medis/" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Alat Medis</th>
                    <th scope="col">Nama Alat Medis</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Jenis Penggunaan</th>
                    <th scope="col">ID Produk</th>
                    {% if roleAdmin or roleCS %}
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
                <tr class="table-striped">
                <th scope="row">{{row.id_alat_medis}}</th>
                <td>{{row.nama_alat_medis}}</td>
                <td>{{row.deskripsi_alat}}</td>
                <td>{{row.jenis_penggunaan}}</td>
                <td>{{row.id_produk}}</td>
                {% if roleAdmin or roleCS %}
                <td><a href="{% url 'Form Update Alat Medis' row.id_alat_medis %}" class="mybutton butwhite" role="button">EDIT</a></td>
                <td><a href="{% url 'Delete Alat Medis' row.id_alat_medis %}" class="mybutton butred" role="button">DELETE</a></td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}



