{% extends 'base.html' %}
{% load static %}

{% block title %}
    Transaksi Resep
{% endblock title %}

{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Transaksi Resep</h1>
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        {% if roleAdmin or roleCS %}
        <a href="/form_create_transaksi_resep/" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                <th scope="col">Nomor Resep</th>
                <th scope="col">Nama Dokter</th>
                <th scope="col">Nama Pasien</th>
                <th scope="col">Isi Resep</th>
                <th scope="col">Unggahan Resep</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Status</th>
                <th scope="col">No Telepon</th>
                <th scope="col">ID Transaksi</th>
                <th scope="col">Email Apoteker</th>
                {% if roleAdmin or roleCS %}
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
            <tr class="table-striped">
                <th scope="row">{{row.no_resep}}</th>
                <td>{{row.nama_dokter}}</td>
                <td>{{row.nama_pasien}}</td>
                <td>{{row.isi_resep}}</td>
                <td>{{row.unggahan_resep}}</td>
                <td>{{row.tanggal_resep}}</td>
                <td>{{row.status_validasi}}</td>
                <td>{{row.no_telepon}}</td>
                <td>{{row.id_transaksi_pembelian}}</td>
                <td>{{row.email_apoteker}}</td>
                {% if roleAdmin or roleCS %}
                <td><a href="{% url 'Form Update Transaksi Resep' row.no_resep %}" class="mybutton butwhite" role="button">EDIT</a></td>
                <td><a href="{% url 'Delete Transaksi Resep' row.no_resep %}" class="mybutton butred" role="button">DELETE</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}


