{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Alat Medis
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Update Alat Medis</h1>
  <h2 class="message">{{message}}</h2>

    <div class="row mainRow align-items-center justify-content-center">
      <div class="login">      
        <h2>Update Alat Medis</h2>
        <br>
        <form  method="POST" action="/update_alat_medis/">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="loginForm">{{ field.label_tag }} {{ field }}</div>
          {% endfor %}
          <input type="submit" value="Update" name="tombol" class="mybutton">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
