{% extends 'base.html' %}
{% load static %}

{% block title %}
    Produk Dibeli
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Produk Dibeli</h1>
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        {% if roleAdmin %}
        <a href="{% url 'produk_dibeli:createProdukDibeli' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Apotek</th>
                    <th scope="col">ID Produk</th>
                    <th scope="col">ID Transaksi Pembelian</th>
                    <th scope="col">Jumlah</th>
                    {% if roleAdmin %}
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
                <tr class="tebla-hover table-striped">
                    <th scope="row">{{row.id_apotek}}</th>
                    <td>{{row.id_produk}}</td>
                    <td>{{row.id_transaksi_pembelian}}</td>
                    <td>{{row.jumlah}}</td>
                    {% if roleAdmin %}
                    <td><a href="{% url 'produk_dibeli:updateProdukDibeli' row.id_apotek row.id_produk row.id_transaksi_pembelian %}" class="mybutton butwhite" role="button">EDIT</a></td>
                    <td><a href="{% url 'produk_dibeli:deleteProdukDibeli' row.id_apotek row.id_produk row.id_transaksi_pembelian %}" class="mybutton butred" role="button">DELETE</a></td>
                    {% endif %}
                </tr>   
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}



