{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pengantaran Farmasi
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Pengantaran Farmasi</h1>
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        {% if roleAdmin %}
        <a href="{% url 'pengantaran_farmasi:createPengantaranFarmasi' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Pengantaran</th>
                    <th scope="col">ID Kurir</th>
                    <th scope="col">ID Transaksi Pembelian</th>
                    <th scope="col">Waktu</th>
                    <th scope="col">Status</th>
                    <th scope="col">Biaya Kirim</th>
                    <th scope="col">Total Kirim</th>
                    {% if roleAdmin or roleCS %}
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
                <tr class="table-striped">
                    <th scope="row">{{row.id_pengantaran}}</th>
                    <td>{{row.id_kurir}}</td>
                    <td>{{row.id_transaksi_pembelian}}</td>
                    <td>{{row.waktu}}</td>
                    <td>{{row.status_pengantaran}}</td>
                    <td>{{row.biaya_kirim}}</td>
                    <td>{{row.total_biaya}}</td>
                    {% if roleAdmin or roleCS %}
                    <td><a href="{% url 'pengantaran_farmasi:updatePengantaranFarmasi' row.id_pengantaran %}" class="mybutton butwhite" role="button">EDIT</a></td>
                    <td><a href="{% url 'pengantaran_farmasi:deletePengantaranFarmasi' row.id_pengantaran %}" class="mybutton butred" role="button">DELETE</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}


