{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Pengantaran Farmasi
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Create Balai Pengobatan</h1>
  <h2 class="message">{{message}}</h2>
            
  <div class="row justify-content-center">
    <div class="login">   
        <form  method="POST" action="{% url 'produk_dibeli:updatePengantaranFarmasi' id_pengantaran %}">
          {% csrf_token %}
          <div class="loginForm">{{form.as_p}}</div>

          <input type="submit" value="Update" name="tombol" class="mybutton">
    </form>
  </div>
</div>
{% endblock content %}