{% extends 'base.html' %}
{% load static %}

{% block title %}
    Transaksi Pembelian
{% endblock title %}

{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Transaksi Pembelian</h1>
    <h2 class="message">{{message}}</h2>
                
    <div class="row justify-content-center">
        {% if roleAdmin %}
        <a href="/formCT/" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Id Transaksi Pembelian</th>
                    <th scope="col">Waktu Pembelian</th>
                    <th scope="col">Total Pembayaran</th>
                    {% if roleAdmin or roleCS or roleKurir %}
                    <th scope="col">Id Konsumen</th>
                    {% endif %}
                    {% if roleAdmin %}
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
                <tr class="table-striped">
                <th scope="row">{{row.id_transaksi_pembelian}}</th>
                <td>{{row.waktu_pembelian}}</td>
                <td>{{row.total_pembayaran}}</td>
                {% if roleAdmin or roleCS or roleKurir %}
                <td>{{row.id_konsumen}}</td>
                {% endif %}
                {% if roleAdmin %}
                <td><a href="{% url 'formUpdateTP' row.id_transaksi_pembelian %}" class="mybutton butwhite" role="button">EDIT</a></td>
                <td><a href="{% url 'DeleteTP' row.id_transaksi_pembelian %}" class="mybutton butred" role="button">DELETE</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}




