@import "base.css";

.jumbotron{
    height: 90%;
    width: 80%;
    text-align: center;
    overflow: auto;
}

.listObat{
    text-align: start;
}

.btn-profil{
    font: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 15px black;
    letter-spacing: 3px;
}

.btn-profil:hover{
    color: black;
    background: white;
}

.jumbotron::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
    background-color: rgb(224, 203, 172);
}

.jumbotron::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 0, 0);
}
