{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
    {%for row in hasil %}
    <div class="container-fluid header">
        <div class="container">
            
            <h1 class="welcome">Selamat Datang di <b>FarmaKami</b>,</h1>
            <h1>{{row.nama_lengkap}}</h1>
            <a href="{% url 'profil' %}" class="mybutton butwhite" role="button">Profil Saya</a>
        </div>
    </div>
    {% endfor %}
    <div class="container justify-content-center">
        <div style="height: 40px;"></div>
        <h2 style="text-align: center;">Pilih Tabel</h2>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col">
                <div class="menu">
                    {% if roleAdmin %}
                    <a class="add_item" href="{% url 'balaipengobatan:bpcreate' %}">+</a>
                    {% endif %}
                    <a href="{% url 'balaipengobatan:bplist' %}">
                        <div>
                            <img src="{% static 'images/icons/balai.svg' %}"alt="">
                            <p>Balai Pengobatan</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    {% if roleAdmin %}
                    <a class="add_item" href="{% url 'apotek:createApotek' %}">+</a>
                    {% endif %}
                    <a href="{% url 'apotek:tableApotek' %}">
                        <div>
                            <img src="{% static 'images/icons/apotek.svg' %}"alt="">
                            <p>Apotek</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    {% if roleAdmin %}
                    <a class="add_item" href="{% url 'produkApotek:createProdukApotek' %}">+</a>
                    {% endif %}
                    <a href="{% url 'produkApotek:tableProdukApotek' %}">
                        <div>
                            <img src="{% static 'images/icons/produk_apotek.svg' %}"alt="">
                            <p>Produk Apotek</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    {% if roleAdmin or roleCS %}
                    <a class="add_item" href="{% url 'obat:obatcreate' %}">+</a>
                    {% endif %}
                    <a href="{% url 'obat:obatlist' %}">
                        <div>
                            <img src="{% static 'images/icons/obat.svg' %}"alt="">
                            <p>Obat</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="menu">
                    {% if roleAdmin or roleCS %}
                    <a class="add_item" href="/form_create_alat_medis/">+</a>
                    {% endif %}
                    <a href="/read_alat_medis/">
                        <div>
                            <img src="{% static 'images/icons/alat_medis.svg' %}"alt="">
                            <p>Alat Medis</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    {% if roleAdmin %}
                    <a class="add_item" href="{% url 'pengantaran_farmasi:createPengantaranFarmasi' %}">+</a>
                    {% endif %}
                    <a href="{% url 'pengantaran_farmasi:readPengantaranFarmasi' %}">
                        <div>
                            <img src="{% static 'images/icons/pengantaran.svg' %}"alt="">
                            <p>Pengantaran Farmasi</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    {% if roleAdmin %}
                    <a class="add_item" href="{% url 'produk_dibeli:createProdukDibeli' %}">+</a>
                    {% endif %}
                    <a href="{% url 'produk_dibeli:readProdukDibeli' %}">
                        <div>
                            <img src="{% static 'images/icons/produk_dibeli.svg' %}"alt="">
                            <p>Produk Dibeli</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    {% if roleAdmin or roleCS %}
                    <a class="add_item" href="/form_create_transaksi_resep/">+</a>
                    {% endif %}
                    <a href="/read_transaksi_resep/">
                        <div>
                            <img src="{% static 'images/icons/transaksi_resep.svg' %}"alt="">
                            <p>Transaksi Resep</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}