<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>Farmakami | Login
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/back_anim.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body class="login_back area" style="height: 100vh;">
  <div class="divider"></div>
  <div class="container-fluid">
    <div class="row mainRow align-items-center justify-content-center">
      <div class="login">      
        <h2>Welcome to <b>FarmaKami</b></h2>
        <img src="{% static 'images/farmakami_white.svg' %}" width="200px" style="margin: 50px 0px;" alt="">
        <form  method="POST" action="/Home/">
          {% csrf_token %}
            <div class="loginForm">{{formlogin.as_table}}</div>
            <input type="submit" value="Login" name="tombol" class="mybutton butwhite">
        </form>
        
        <p class="text--center" style="color: white;">Not a member? <a href="/Register/" style="color: #f3f3f3;">Sign up now</a>
        <p class="text--center" style="color: white; background-color: grey;border-radius: 7px;">{{message}}</p>
        </div>
      </div>
    </div>
  </div>

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</body>
</html>