{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Apotek
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Create Apotek</h1>
  <p class="message">{{message}}</p>  
  <div class="row justify-content-center">
    <div class="login">
          
      <form  method="POST" action="{% url 'apotek:createApotek' %}">
        {% csrf_token %}
        <div class="loginForm">{{form.as_p}}</div>

        <input type="submit" value="Create" name="tombol" class="mybutton">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
