{% extends 'base.html' %}
{% load static %}

{% block title %}
    Apotek
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Apotek</h1>
    <h2 class="message">{{message}}</h2>
    <div class="row justify-content-center">
        {% if roleAdmin %}
        <a href="{% url 'apotek:createApotek' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Create Item</a>
        {% endif %}
        <table  class="table table-hover table-striped" style="background-color: white;">
            <thead class="text-center myTable">
                <tr>
                    <th style="text-align: center; vertical-align: middle;" scope="col">ID Apotek</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Nama Apotek</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Alamat Apotek</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Telepon Apotek</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Nama Penyelenggara</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">No.SIA Penyelenggara</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Email Penyelenggara</th>
                    {% if roleAdmin %}
                    <th style="text-align: center; vertical-align: middle;" scope="col">Edit</th>
                    <th style="text-align: center; vertical-align: middle;" scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="text-center">
            {%for row in table %}
                <tr class="table-striped">
                <th scope="row">{{row.id_apotek}}</th>
                <td>{{ row.nama_apotek }}</td>
                <td>{{ row.alamat_apotek }}</td>
                <td>{{ row.telepon_apotek|default:"-" }}</td>
                <td>{{ row.nama_penyelenggara }}</td>
                <td>{{ row.no_sia }}</td>
                <td>{{ row.email }}</td>
                {% if roleAdmin %}
                <td><a href="{% url 'apotek:updateApotek' row.id_apotek %}" class="mybutton butwhite" role="button">EDIT</a></td>
                <td><a href="{% url 'apotek:deleteApotek' row.id_apotek %}" class="mybutton butred" role="button">DELETE</a></td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}
