{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Apotek
{% endblock title %}

{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Update Apotek</h1>
  <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
      <div class="login">      
        <form  method="POST" action="{% url 'apotek:updateApotek' id %}">
          {% csrf_token %}
        <div class="loginForm">{{form.as_p}}</div>

        <input type="submit" value="Update" name="tombol">
      </form>
    </div>
  </div>
</div>
{% endblock content %}