@import "base.css";


.homeRow{
    height: 100%;
}

.header{
    font-family: 'Ranga', cursive;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 80px;
}

.title{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.pesan{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.myTable{
    text-align: center; 
    vertical-align: middle;
}

.btn-profil{
    font: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 15px black;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-profil:hover{
    background-color: black;
    box-shadow: 0px 15px 20px rgba(130, 139, 136, 0.4);
    color: #fcfcfc;
    transform: translateY(-7px);
}




