@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Noto+Sans&display=swap');

html,body{
    background:#212129;
    font-family:Tahoma;
    height:100%;
    width: 100%;
}

.container-fluid{
    height: 100%;
    width: 100%;
}

.mainRow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 50px;
}

.login{
    text-align:center;
    width:50%;
}
  
.login input{
    display:block;
    margin:15px auto;
    text-align:center;
    font-weight:bold;
    transition:all 300ms ease-in-out;
}
  
.login input[type="text"]{
    line-height:50px;
    padding:0 10px;
    border-radius:30px;
    border:0;
    width:50%;
    background:rgba(255,255,255,0.9);
}

.login input[type="text"]::placeholder {  
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}

.pesan{
    font-family: 'Roboto Slab', serif;
    color:#ee5f4a;
}
  
h2{
    color:#fff;
    font-family: 'Roboto Slab', serif;
}

.loginForm{
    color: white;
    height: 100%;
    font-family: 'Bitter', serif;
    letter-spacing: 2px;
}

.header{
    height: 100%;
}
  
.login input[type="text"]:focus{
    width:80%;
    background:rgba(255,255,255,1);
}
  
.login input[type="submit"]{
    height:40px;
    border:0;
    background:#ee5f4a;
    color:#fff;
    box-shadow:0px 0px 2px rgba(0,0,0,0.5);
    width:30%;
    border-radius:5px;
    opacity:0.8;
    cursor:pointer;
}
  

.login input[type="submit"]:hover{
    background-color: #ee5f4a;
    box-shadow: 0px 15px 20px rgba(130, 139, 136, 0.4);
    color: #fcfcfc;
    transform: translateY(-7px);
}