{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Obat
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Create Obat</h1>
  <h2 class="message">{{message}}</h2>
  <br>
  <div class="row justify-content-center">
    <div class="login">      
      <form  method="POST" action="{% url 'obat:obatcreate' %}">
        {% csrf_token %}

        <label class="label" style="color: white;" for="id_merk_obat">ID Merk Obat:</label>
  
        <select class="form-control" name="id_merk_obat" id="id_merk_obat" >
          {%for row in id_merk_obat %}
          <option value="{{row.id_merk_obat}}">{{row.id_merk_obat}}</option>
          {% endfor %}
        </select>

        <br>

        <div class="loginForm">{{ form.as_p }}</div>
        <br>

        <input type="submit" value="Create" name="tombol">
      </form>
      
    </div>
  </div>
</div>
{% endblock content %}